:root {
  --bg-darker: rgb(26, 26, 26);
  --bg-dark: rgb(39, 38, 38);
  --bg-dark-light: rgb(31, 30, 30);
  --bg-purple: #8950f3;
  --bg-purple-light: #8244ff;
  --color-lighter: rgb(223, 223, 223);
  --color-light: rgb(167, 164, 164);
  --fs-smaller: 14px;
  --fs-small: 16px;
  --fs-medium: 20px;
  --fs-large: 26px;
  --fs-larger: 36px;
}
@media screen and (0px <= width < 1280px) {
  :root {
    --fs-smaller: clamp(10px, 1.5vw, 12px);
    --fs-small: clamp(14px, 2vw, 16px);
    --fs-medium: clamp(16px, 3.5vw, 18px);
    --fs-large: clamp(18px, 2.5vw, 20px);
    --fs-larger: clamp(18px, 4vw, 24px);
  }
}
body {
  margin: 0px;
  padding: 0px;
}
.App {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-darker);
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
*,
*:focus,
*:hover {
  outline: none;
}
.txt-smaller {
  font-size: var(--fs-smaller) !important;
}
.txt-small {
  font-size: var(--fs-small) !important;
}
.txt-medium {
  font-size: var(--fs-medium) !important;
}
.txt-large {
  font-size: var(--fs-large) !important;
}
.txt-larger {
  font-size: var(--fs-larger) !important;
}
.my-bg-darker {
  background-color: var(--bg-darker) !important;
}
.my-bg-dark {
  background-color: var(--bg-dark) !important;
}
.my-color-light {
  color: var(--color-light) !important;
}
.my-color-lighter {
  color: var(--color-lighter) !important;
}
.small-icon {
  width: 15px;
  height: 15px;
}
.regular-icon {
  width: 20px;
  height: 20px;
}
.large-icon {
  width: 25px;
  height: 25px;
}
.radius-small {
  border-radius: 5px;
}
@media screen and (0px <= width < 1280px) {
  .regular-icon {
    width: 15px;
    height: 15px;
  }
  .large-icon {
    width: 18px;
    height: 18px;
  }
}
