/* styles for side navbar elements */
.nav-gap {
  gap: 10px;
}
.accordion-toogle-btn {
  border: none;
  background-color: transparent;
  width: 100%;
}
.accordion-header-txt {
  font-size: 12px;
}
.dashboard-tasks-details-txt {
  font-size: 14px;
}
/* dashboard elements  */
.regular-icon {
  width: 20px;
  height: 20px;
}
.small-icon {
  width: 15px;
  height: 15px;
}
.radius-small {
  border-radius: 5px;
}
.txt-small {
  font-size: 14px;
}
.txt-medium {
  font-size: 16px;
}
.txt-regular {
  font-size: 18px;
}
.txt-large {
  font-size: 20px;
}
.txt-larger {
  font-size: 36px;
}
.scrollbar {
  overflow-y: auto;
  scrollbar-width: thin;
}
